---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"Home"} description={"Home Page"}>
    <Fragment slot="main">
        <h1>Hello world</h1>
        <article><p>This is my blog.</p></article>
        <article><p>As an AI developer, I am deeply passionate about retro technology and video games. I enjoy working with the constraints of older technology and seeing how AI can be adapted to these platforms to create something truly new and engaging.
        </p></article>

    </Fragment>
</BaseLayout>
