---
import CrtSwitch from "./CrtSwitch.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav aria-label="Main Menu" class="navigation">
    <a href="#main" class="hidden-menu">Skip to main content</a>
    <ThemeSwitcher />
    <CrtSwitch />
    <ul class="navigation-list">
        <li class="navigation-list--links">
            <a rel="prefetch" href="/porfolio/">Home</a>
        </li>
        <li class="navigation-list--links">
            <a rel="prefetch" href="/porfolio/blog">Blog</a>
        </li>
        <li class="navigation-list--links">
            <a rel="prefetch" href="/porfolio/about">About</a>
        </li>
    </ul>
</nav>
